
/*==========================================
Behrmart CSS Bootstrap based
==========================================*/

/*by @behrmart aka Tu Padre*/

/* Base Colors SAFE WEB COLORS
Morado: #4C2F60
Lila: #6F4C8A
Lila claro: #9B85BE
*/

@import "bootstrap";

/* -------------------- Font faces --------------------------*/

@font-face {
  font-family: "NeoSansStdRegular";
  src: url("../fonts/NeoSansStdRegular.otf");
  }

@font-face {
  font-family: "NeoSansStdLight";
  src: url("../fonts/NeoSansStdLight.otf");
  }

@font-face {
  font-family: "NeoSansStdBold";
  src: url("../fonts/NeoSansStdBold.otf");
  }

 @font-face {
  font-family: "RockwellRegular";
  src: url("../fonts/RockwellBQ-Regular.otf");
  }

/* 
-------------------- 
HTML doc & Body 
--------------------
*/

html, body {
	height: 100%;
	width: 100%;
	font-family: 'NeoSansStdRegular';
	color: #4C2F60;
	}

.boldfont {
	font-family: "NeoSansStdBold";
}

.moradobg {
	background-color: #4C2F60;
	border-color: #9B85BE;
}

.moradogb:hover {
	background-color: #9B85BE;
}

.whitetext {
	color: #fff;
}

a {
	color: #4C2F60 /*so link doesnt appear blue on mobile*/
}

a:hover {
	color: #9B85BE;
}





/* 
-------------------- 
CV Hero
--------------------
*/

.cvhero {
	background-image: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,0), rgba(255,255,255,0)), url("../images/bckgd1.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	color: #fff;
}

.cvhero h1 {
	padding: auto;
	margin: auto;
}

.aboutme {
	background-color: #9B85BE;
}
/* 
-------------------- 
FOOTER
--------------------
*/

footer{
	background-color: #4C2F60;
	color: #fff;
}


footer a {
	color: #6F4C8A; /*so link doesnt appear blue on mobile*/
}

footer a:hover {
	color: #fff;
}


/*-----------------------------------------------------------------------------
Media Queries 
-------------------------------------------------------------------------------*/

/* 
-------------------- 
LARGE
--------------------
*/
@media (max-width: 992px) {

	html, body {
	font-size: large;
	}
  }

@media (max-width: 800px) {	          /* ----------kindle fire HDX* --------------*/
  	.carouselprev1 {
  		width:70%;
  	}
}
 
/* 
-------------------- 
MEDIUM
--------------------
*/  
@media (max-width: 768px) {    /*--------------- iPad -----------------------*/

	
	.menufooter1 {
		text-align: center;
	}

	.menufooter2 {
		text-align: center;
	}	

	.menufooter3 {
		text-align: center;
	}
	
}

/* 
-------------------- 
SMALL
--------------------
*/

@media (max-width: 576px) { /*--------------- iPhone -----------------------*/
  
	
	.menufooter1 {
		text-align: center;
	}

	.menufooter2 {
		text-align: center;
	}	

	.menufooter3 {
		text-align: center;
	}


}


