
/*==========================================
Behrmart CSS Bootstrap based
==========================================*/

/*by @behrmart aka Tu Padre*/

/* Base Colors SAFE WEB COLORS
Morado: #4C2F60
Lila: #6F4C8A
Lila claro: #9B85BE
*/

@import "bootstrap";

/* -------------------- Font faces --------------------------*/

@font-face {
  font-family: "NeoSansStdRegular";
  src: url("../fonts/NeoSansStdRegular.otf");
  }

@font-face {
  font-family: "NeoSansStdLight";
  src: url("../fonts/NeoSansStdLight.otf");
  }

@font-face {
  font-family: "NeoSansStdBold";
  src: url("../fonts/NeoSansStdBold.otf");
  }

 @font-face {
  font-family: "RockwellRegular";
  src: url("../fonts/RockwellBQ-Regular.otf");
  }

/* 
-------------------- 
HTML doc & Body 
--------------------
*/

html, body {
	height: 100%;
	width: 100%;
	font-family: 'NeoSansStdRegular';
	color: #4C2F60;
	border-color: #9B85BE;
	}

.boldfont {
	font-family: "NeoSansStdBold";
}

a {
	color: #4C2F60 /*so link doesnt appear blue on mobile*/
}

a:hover {
	color: #9B85BE;
}



/* 
-------------------- 
CV Hero
--------------------
*/

.cvhero {
	background-image: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,0), rgba(255,255,255,0)), url("../images/bckgd1.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  	color: #fff;
}


.aboutme {
	background-color: #E9D9FF; 
	border-radius: 100px 10px 100px 10px;
	color: #4C2F60;
	justify-content: end;
}

.aboutmeimage {
	background-color: #9B85BE;
	border-radius: 100px 10px 100px 100px;
}

.education {
	background-color: #D9C1DE;
	border-radius: 10px 100px 10px 100px; 
	color: #4C2F60;
	justify-content: start;
}

.workexperience{
	background-image: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,0), rgba(255,255,255,0)), url("../images/backgd_blanco.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

.workexperiencetext {
	border-radius: 10px 100px 10px 100px; 
	color: #4C2F60;
}


.skills {
	background-image: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,0), rgba(255,255,255,0)), url("../images/bckgd2_2.jpg");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
	color: white;
	
}

.skills1cont {
	border-radius: 10px 100px 10px 100px; 
}

.contacto{
	background-color: white; 
	border-radius: 100px 10px 100px 10px;
	color: #4C2F60;
	justify-content: end;
}
/* 
-------------------- 
FOOTER
--------------------
*/

footer{
	background-color: #4C2F60;
	color: #fff;
}


footer a {
	color: #6F4C8A; /*so link doesnt appear blue on mobile*/
}

footer a:hover {
	color: #fff;
}


/*-----------------------------------------------------------------------------
Media Queries 
-------------------------------------------------------------------------------*/

/* 
-------------------- 
LARGE
--------------------
*/
/* @media (max-width: 992px) {

  }

@media (max-width: 800px) {	          
  	
}
 

-------------------- 
MEDIUM
--------------------
*/  
/* @media (max-width: 768px) {    

}	
	 */
/* 
-------------------- 
SMALL
--------------------
*/

/* @media (max-width: 576px) { 
  
	
}	 */


